<div class="container">
	
	<div class="table-responsive my-5">
		
		<table class="table table-hover text-center">
			<caption>List of users</caption>
			  <thead class="thead-dark">
			    <tr>
			      <th scope="col">Matrícula</th>
			      <th scope="col">Aluno</th>
			      <th scope="col">Turma</th>
			      <th scope="col">Opções</th>
			    </tr>
			  </thead>
			  {{#data}}
			  <tbody>
		    <tr>
		      <th scope="row">{{matricula}}</th>
		      <td>{{nome}}</td>
		      <td>{{codigo}}</td>
		      <td>
		      	<a href='update/{{id}}'>
		      		<img src="../../img/editar.png" width="30">
		      	</a>
		      	<a href='delete/{{id}}'>
		      		<img src="../../img/deletar.png" width="30" class='js-delete'>
		      	</a>
		      </td>
		    </tr>
		  </tbody>
		  {{/data}}
			
		</table>


	</div>

</div>