<div class="container">
	
	<h1 class="text-center my-4">Artigo</h1>
	
	

	<div class="card mb-3">
		
		<div class="card-body text-secondary">
			<h5 class="card-title">Art. {{numero}} º</h5>
			<p class="lead">{{texto}}</p>
			{{#each data}}
				<a class="text-secondary" href="../../inciso/ver/{{id}}"><p>{{num_inciso}}. {{texto_inciso}}</p></a>
			{{else}}
				<p>Não há incisos registrados neste artigo!</p>
			{{/each}}
			<hr>
			<a href="../../artigo/editar/{{numero}}" class="btn btn-success">Editar</a>
			<a href="../../artigo/deletar/{{numero}}" class="btn btn-danger">Remover</a>
		</div>
	</div>	
	
		  
	
					
</div>