<div class="container">
<h1 class="text-center my-4">Alterar dados</h1>

	{{#each erros}}
		{{>_error}}
	{{else}}
	{{/each}}
	
<div class="card bg-light">
	<div class="card-body mb-15">
		<form action="../../alunos/edit" enctype="multipart/form-data" method="POST">
			
			<div class="form-row">
				<label for="nome" class="col-sm-2 col-form-label-sm">Nome:</label>
				<div class="col-sm-10 form-group">
					<input type="text" id="nome" name="nome" placeholder="Nome" class="form-control" autocomplete="off"  value="{{nome}}" required>
					<input type="hidden" id="matricula" name="matricula" value="{{matricula}}" required>
				</div>
			</div>

			<div class="form-row">
				<label for="turma" class="col-sm-2 col-form-label-sm">Turma:</label>
				<div class="col-sm-10 form-group">
					<select name="turma" class="custom-select">
						{{#each turmas}}
						<option value="{{id}}">{{codigo}}</option>
						{{else}}
						<option value="0">Nenhuma turma registrada</option>
						{{/each}}
					
					</select>
				</div>
			</div>


			<div class="form-row">
				<label for="foto" class="col-sm-2 col-form-label-sm">Foto:</label>
				<div class="col-sm-10 form-group">
			    	<input type="file" class="form-control-file" name="foto" value="{{foto}}">
				</div>
			</div>

			<button type="submit" class="btn btn-success mt-4"><i class="fa fa-check mr-2"></i>Editar Aluno</button>
		</form>
	</div>
</div>
</div>