<div class="container">
	
	<h1 class="text-center my-4">Ficha do Aluno</h1>
	
	{{#data}}

	<div class="card mb-3">
		<div class="card-body">
			<img src="/img/alunos/aluno01.jpg" class="mb-2" title="Foto do Estudante">
			<h5 class="card-title">{{nome}}</h5>
			<p class="lead">{{codigo}}</p>
			<p class="card-text">Nº de matrícula: {{matricula}}</p>	
			<small>Entrou em: {{#formatDate entrada}}{{/formatDate}}</small>
			<hr>
			<a href="../../alunos/editar/{{matricula}}" class="btn btn-success">Editar</a>
			<a href="../../alunos/deletar/{{matricula}}" class="btn btn-danger">Remover</a>
		</div>
	</div>		
	
		  
	{{/data}}
					
</div>